version: '2'
services:
  start:
    build:
      context: .
    image: analyticsingestlambda
    command: start
    volumes:
      - .:/app
    env_file:
      - .env
  test:
    image: analyticsingestlambda
    command: test
    volumes:
      - ./lib:/app/lib
      - ./test:/app/test
      - ./index-bigquery.js:/app/index-bigquery.js
      - ./index-bigquery.test.js:/app/index-bigquery.test.js
      - ./index-dynamodb.test.js:/app/index-dynamodb.test.js
      - ./index-dynamodb.test.js:/app/index-dynamodb.test.js
      - ./index-pingbacks.test.js:/app/index-pingbacks.test.js
      - ./index-pingbacks.test.js:/app/index-pingbacks.test.js
