# bigquery mode
BQ_DATASET=production
BQ_CREDENTIALS={"json":"creds"}

# dynamodb mode
DDB_TABLE=
DDB_ROLE=
DDB_TTL=

# frequency mode
DDB_FREQUENCY_TABLE=

# pingbacks mode
DOVETAIL_ROUTER_HOSTS=
DOVETAIL_ROUTER_API_TOKENS=
