# bigquery mode
BQ_CLIENT_EMAIL=
BQ_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----STUFF-----END PRIVATE KEY-----\n"
BQ_PROJECT_ID=
BQ_DATASET=
# dynamodb mode
DYNAMODB=
DDB_TABLE=
DDB_ROLE=
DDB_TTL=
# pingbacks mode
PINGBACKS=
DOVETAIL_ROUTER_HOSTS=
DOVETAIL_ROUTER_API_TOKENS=
# frequency mode
DDB_FREQUENCY_TABLE=
DDB_LOCAL=
